<br>
<br>
<div class="container shadow-md bg-secondary ">
    <div class="row text-white" >
        <div class="col-sm-4  ">
            <a href="#"  class="text-white">Home</a  ><br>
            <a  href="#"   class="text-white" >About</a  ><br>
            <a  href="#"   class="text-white">About</a  ><br>
            <a  href="#"   class="text-white">Tennis</a  ><br>
            <a  href="#"   class="text-white">Contact Us</a  ><br>
        </div>

        <div class="col-sm-4">
            <a href="#"   class="text-white" >Terms & Conditions
             Privacy Notice</a  ><br>
            <a  href="#"   class="text-white"> Social Media</a  ><br>
            <a  href="#"   class="text-white">Policy Official Partners </a  ><br>
            <a  href="#"   class="text-white">Contact Newsletters </a  >
        </div>

        <div class="col-sm-4">
            <address>
<h4>Austrilia</h4>
            </address>

        </div>
    </div>


</div>
<br>
<div class="container">
    <div class="card bg-info">
        <h1>© 2022-2023 Tennisclub online booking. All rights reserved</h1>
    </div>
</div>