{% extends "T-APP/base.html" %} {% load static %} {% block content %} {% load crispy_forms_tags %}
<style>
    .imagecontainer {
        width: 970px;
        height: 200px;
        background-color: rgba(211, 211, 211, 0.62);
        margin-top: 50px;
        border-radius: 10px;
        border: 2px;
        padding: 10px;
        margin-top: 70px;
    }
    
    .button {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 10px;
        margin-top: 25px;
    }
    
    div.polaroid {
        width: 200px;
        height: 140px;
        background-color: rgba(255, 255, 255, 0.51);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin-left: 30px;
        padding: 10px;
        border-radius: 10px;
        float: left;
    }
    
    div.container {
        text-align: center;
    }
    
    hr {
        margin-right: 150px;
        border: 3px solid #4CAF50;
    }
</style>

<center>
    <div class="container">
        <div class="row">

            <div class="col-sm-10">
                <h2>Now Showing</h2>

                <div class="imagecontainer">
                    <div class="polaroid">
                        <a href="{% url 'tennis_info' %}"><img src="{% static 'tclub/images/t1.jpg' %}" alt="5 Terre" style="width:100%"></a>
                    </div>

                    <div class="polaroid">
                        <a href="#"><img src="{% static 'tclub/images/t2.jpg' %}" alt="5 Terre" style="width:100%"></a>
                    </div>

                    <div class="polaroid">
                        <a href="#"><img src="{% static 'tclub/images/t3.jpg' %}" alt="5 Terre" style="width:100%"></a>
                    </div>

                    <div class="polaroid">
                        <a href="#"><img src="{% static 'tclub/images/t4.jpg' %}" alt="5 Terre" style="width:100%"></a>
                    </div>



                </div>
                <br>
                <a href="{% url 'onlinebooking'  %}"><button class="btn btn-outline-info" type="submit">Book Court</button></a> </div>

        </div>
    </div>
</center>

{% endblock %}